.main { display: flex; justify-content: center; align-items: flex-start; padding: 40px 0; }
        .product-img {
            width: 700px;
        }
        
        .product-info {
            margin-left: 60px;
            max-width: 700px;
            padding: 30px;
        }

        .product-title { font-size: 3.5em; margin-bottom: 10px; }
        .product-details {
            margin-bottom: 40px;
            font-size: 18px;
            margin-top: 40px;
        }
        .product-price { font-size: 18px; margin-bottom: 20px; margin-left: 600px; }
        .actions { display: flex; gap: 20px; }
        .btn { background: #000; color: #fff; border: none; border-radius: 25px; padding: 12px 32px; font-size: 1em; cursor: pointer; }
        .favorite {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    vertical-align: middle;
    margin-left: 650px;
}
        .favorite.hearted { color: #000; }
        .footer { display: flex; justify-content: space-between; font-size: 0.9em; }
        .footer-section { margin-right: 40px; }
        .footer-section ul { list-style: none; padding: 0; margin: 0; }
        .footer-section li { margin-bottom: 5px; }
        .footer-bottom { text-align: center; margin-top: 10px; font-size: 0.8em; color: #aaa; }

      
       
        .sizeguide {
          width: 120px;
          margin-right: 30px;
        }
        .shop-btn {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          border: 1px solid #333333;
          font: 16px/50px"OpenSansBold";
          text-align: center;
          height: 50px;
          width: 170px;
          margin-top: 30px;
        }
        input[value^=Shop] {
          background-color: transparent;
          color: #777777;
        }
        .size-btn:hover,
        .shop-btn:hover {
          background-color: #333333;
          color: #fff;
          cursor: pointer;
        }
        [id^=size-] {
          display: none;
        }
        [id^=size-] + label {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            border: 1px solid #333333;
            font: 16px / 50px "OpenSansBold";
            text-align: center;
            height: 45px;
            width: 60px;
            margin-right: 21px;
            margin-top: 30px;
            cursor: pointer;
        }
        [id^=size-] + label:nth-child(1) {
          margin-right: 0px;
        }
        [id^=size-]:checked + label {
          background-color: #333333;
          color: #fff;
        }